* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  --black:#0D114F;
  --white:#FAFAFA;
  --red:#E83F5B;
  --light-blue:#E0ECFF;
  --blue:#3485FF;
  --background:#FBFCFF;
  --overlay:#040911;
  --icons-details:#A5B0C1;

  --grey-dark:#4D5E77;
  --grey-blue:#A1B2CD;
  --grey-medium:#D3D9E2;
  --grey-light:#E5EAF1;

  font-size: 62.5%; /* 10px */
}

body {
  display: flex;
  height: 100vh;
  background: var(--background);
}

body, input, textarea {
  font-size: clamp(14px, 1.6rem, 2vw);

  font-family: 'Open Sans', sans-serif;
}

.content {
  width: 100%;
  margin: 0 auto; /* top, right, bottom and left */
}

.sr-only {
  position:absolute;
  height:1px;
  width:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip-path:rect(0, 0, 0, 0);
  white-space:nowrap;
  border-width:0;
}

input, .button{
  height: 5rem;
  border-radius: 0.8rem;
}

.button {
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 0; /* Espaçamento entre linhas */

  display: flex;
  align-items: center;
  justify-content: center; 

  cursor: pointer;
}

.button-1 {
  background: var(--blue);
  color: var(--white);
}

.button-2 {
  background: var(--white);
  color: var(--blue);
  border: solid 0.2rem var(--blue);
}

.button:hover {
  filter: brightness(1.2);
  transition:filter 0.2s
}

.button img {
  margin-right: 1rem;
  width: 2rem;
}

