.content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;

    grid-template-areas:
    'header header'
    'left right'   
}

header {
    grid-area: header;
}

#bg {
    grid-area: left;

    background: url(/assets/home-bg-img.png) no-repeat top/contain; /* Não repetir. Alinhar ao topo e a caixa */
}




